* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
    transition-duration: 750ms;
}

.fs-5rem {
    font-size: 5rem;
}

.player {
    width: 861px !important;
}

.main-text {
    font-family: 'Open Sans', sans-serif;
}

.main-height {
    height: 90vh;
}

.bg-color {
    background: rgb(21, 21, 21);
}

@media (min-width: 1400px) {
    .container {
        max-width: 1520px !important;
    }
}

@media (max-width: 992px) {
    .player {
        width: 696px !important;
    }
}

@media (max-width: 768px) {
    .player {
        width: 500px !important;
    }
}

@media (max-width: 576px) {
    .player {
        width: 100% !important;
    }
}