* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;

}

.fs-4rem {
    font-size: 4rem;
}

.main-height {
    height: 90vh;
}

.bg-color {
    background: rgb(21, 21, 21);
}
