* {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    overflow: hidden;
}

.fs-4rem {
    font-size: 4rem;
}

.main-height {
    height: 90vh;
}

.bg-color {
    background: rgb(21, 21, 21);
}

@media (min-width: 1400px) {
    .container {
        max-width: 1520px !important;
    }
}